<button type="button" class="btn btn-default glyphicon glyphicon-plus" 
id = "weightliftingButton">Weightlifting</button>
<button type="button" class="btn btn-default glyphicon glyphicon-plus" 
id = "strengthButton">Strength</button>
<button type="button" class="btn btn-default glyphicon glyphicon-plus" 
id = "gymnasticsButton">Gymanstics</button>
<button type="button" class="btn btn-default glyphicon glyphicon-plus" 
id = "wodButton">WOD</button>
<button type="button" class="btn btn-default glyphicon glyphicon-plus" 
id = "mobilityButton">Mobility</button>
<button type="button" class="btn btn-default glyphicon glyphicon-plus" 
id = "otherButton">Other</button>
