
<div class = "buttons">
  
<button type="button" class="btn btn-default" id = "weightliftingButton">
  <span class="glyphicon glyphicon-plus" aria-hidden="true" id = "weightliftingGlyphicon"></span> Weightlifting
</button>

<button type="button" class="btn btn-default" id = "strengthButton">
  <span class="glyphicon glyphicon-plus" aria-hidden="true" id = "strengthGlyphicon"></span> Strength
</button>

<button type="button" class="btn btn-default" id = "gymnasticsButton">
  <span class="glyphicon glyphicon-plus" aria-hidden="true" id = "gymnasticsGlyphicon"></span> Gymanstics
</button>

<button type="button" class="btn btn-default" id = "wodButton">
  <span class="glyphicon glyphicon-plus" aria-hidden="true" id = "wodGlyphicon"></span> WOD
</button>

<button type="button" class="btn btn-default" id = "mobilityButton">
  <span class="glyphicon glyphicon-plus" aria-hidden="true" id = "mobilityGlyphicon"></span> Mobility
</button>

<button type="button" class="btn btn-default" id = "otherButton">
  <span class="glyphicon glyphicon-plus" aria-hidden="true" id = "otherGlyphicon"></span> Other
</button>


</div>