<div class="list-group middle">
  <p><%= link_to "Add WOD", new_workout_path, class: "list-group-item" %></p>
  
  <% @workouts.each do |workout| %>
    <%if workout.wod.split.size >5 %>
    <p><%= link_to "#{workout.date.strftime('%A %d.%m.%y')} WOD: #{workout.wod.truncate_words(5)}", workout, class: "list-group-item" %></p>
    <% else %>
    <p><%= link_to "#{workout.date.strftime('%A %d.%m.%y')} WOD: #{workout.wod}", workout, class: "list-group-item" %></p>
    <% end %>
  <% end %>
    <%= will_paginate @workouts%>
</div>


