<p><%= link_to "ADD WOD", new_workout_path, class:"btn btn-default" %></p>

<div class="list-group middle">  
  
  <% if @workouts.any?%>
  <% @workouts.each do |workout| %>
    <p><%= link_to "#{workout.date.strftime('%A %d.%m.%y')} (#{workout.display_workout})", workout, class: "list-group-item" %></p>
  <% end %>
    <%= will_paginate @workouts if @workouts.any?%>
  <% end %>
</div>