<div class = "container-fluid">
<nav class="navbar navbar-default fixed-top">
  <a class="navbar-brand"><%= link_to "WOD Log", root_path, class: "navbar-brand" %></a>
  <ul class="nav navbar-nav">
    <li><%= link_to "New WOD", new_workout_path %></li>
  </ul>
</nav>
</div>

