<nav class="navbar navbar-default fixed-top">
  <%= link_to "WOD Log", root_path, class: "navbar-brand" %>
  <ul class="nav navbar-nav">
    
    <% if user_signed_in? %>
      <li><%= link_to "ADD WOD", new_workout_path %></li>
      <li><%= link_to "Your Profile", current_user %></li>
      <li><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></li>
    <% end %>
  </ul>
</nav>


